{% extends "main/base.html" %}
{% block meta %}
    <meta name="description" content="Alpha Stitch is Cape Town's leading provider of custom shades and outdoor accessories. Our mission is to enhance your outdoor experiences with durable and stylish products that meet your needs.">
{% endblock %}
{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
{% endblock %}
{% block content %}
    <div class="hero section"style="height: 50vh;">
        <div class="container">
            <h2>Crafting Shade and Comfort for Every Space</h2>
            <p>We blend innovation, craftsmanship, and quality to provide custom shade solutions and outdoor essentials that enhance your lifestyle. Discover our journey and commitment to excellence</p>
        </div>
    </div>
    <div class="about section">
        <div class="container" style="width: 55%;">
            <h6>Inovative</h6>
            <h2>Crafting Quality Solutions for Every Occassion</h2>
        </div>
        <div class="container second">
            <div class="content first-content">
                <img src="{% static 'main/images/about-2.webp' %}" alt="">
            </div>
            <div class="content second-content">
                <img src="{% static 'main/images/about-1.webp' %}" alt="">
                <div class="about-content">
                    <p>At Alpha Stitch, we pride ourselves on delivering high-quality shades, covers, and camping accessories. Our mission is to enhance your outdoor experiences with durable and stylish products that meet your needs.</p>
                    <div class="buttons">
                        <a href="{% url 'products' %}"><button>View Products</button></a>
                        <a href="{% url 'contact' %}"><button>Contact</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cta section">
        <div class="container">
            <h2>Explore Our Quality Products</h2>
            <p>Discover a wide range of products to match your Style and Comfort</p>
            <div class="buttons">
                <a href="{% url 'products' %}"><button>View Products</button></a>
                <a href="{% url 'contact' %}"><button>Get a Quote</button></a>
            </div>
        </div>
    </div>
{% endblock %}