header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 50px;
}
header h5 {
    color: var(--secondary-color);
}
@media (min-width: 768px) {
    header a {
        color: var(--secondary-color);
    }
}

.burger div {
    background-color: var(--secondary-color);
}
header .nav-links.active {
    color: var(--primary-color);
}
.product_detail nav {
    display: flex;
    overflow: auto;
    margin-bottom: -48px;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

}
.product_detail {
    overflow: hidden;
}

.product_detail ul::-webkit-scrollbar {
    display: none; /* WebKit */
}
.product_detail ul {
    padding: 0;
    display: flex;
    gap: 8px;
    list-style: none;
    font: var(--p);
}
.nav-top {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product_detail ul li {
    position: relative;
    cursor: pointer;
    color: var(--secondary-color);
}
.product_detail ul a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.product_detail a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.product_detail {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
@media screen and (max-width: 425px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);

    }
    .product_description {
        text-align: start;
    }

}
@media screen and (max-width: 375px) {
    .image-grid {
        grid-template-columns: 1fr;
    }

}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 300px; /* Adjust this value to reduce the height */
}

.image-grid .grid-item:first-child img {
    max-height: 600px; /* Remove max-height for the first image */
}

.image-grid .grid-item:first-child {
    grid-column: span 2;
    grid-row: span 2;
}

.product_description {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.product_info {
    width: 70%;
}
.product_cta {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.variants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.btns button {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}
.btns {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
}
.btns p {
    color: var(--secondary-color);
}
.btns a {
    display: flex;
    align-items: center;
    gap: 20px;
}
.btns a p::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btns a p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* .btns a:nth-child(2) button {
    background-color: transparent;
    border: 1px solid var(--accent-color);
    transition: 0.5s;
    color: var(--secondary-color);
}
.btns a:nth-child(2) button:hover {
    background-color: var(--accent-color);

} */


.product_features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;
}
.variant-1 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.variant-1, .variant-2, .variant-3, .variant-4 , .variant-5 {
    border: 1px solid var(--secondary-color);
    transition: 0.5s;
}
.variant-1:hover, .variant-2:hover, .variant-3:hover, .variant-4:hover , .variant-5:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
@media screen and (max-width: 768px) {
    .product_description {
        flex-direction: column;
        gap: 20px;
    }
    .product_cta {
        width: 100%;
    }
    .product_info {
        width: 100%;
    }

}